# Introduction to Ruby data types

Author: Justin T. Lee

Company: Health Policy Associates, Inc.

Last modified: 2017/08/10

## Table of contents: <a class="anchor" id="toc"></a>

01. [Ruby basics](#basics)
02. [Ruby program files](#rubyprogramfiles)
03. [Gems](#gems)
04. [Commenting](#comments)
05. [Fundamental data types](#datatypes)
06. [Variables](#variables)
07. [Operators](#operators)
08. [Strings](#strings)
09. [Arrays](#arrays)
10. [Hashes](#hashes)

## Ruby basics <a class="anchor" id="basics"></a>

Ruby is an *object-oriented programming language* (OOP) in which all constructs (strings, integers, variables, etc.) are objects. Each object belongs to a *class*, a prototype for a particular kind of object. For example, an Apple iPhone is a specific example of a smartphone. Smartphones here would be the class, and the Apple iPhone would be an *instance* of the class. All objects have 2 features:
* properties - values stored that help define a class and separate one class from another
* methods - how a particular class goes about accomplishing a task

An instance has all attributes of its mother class, but includes additional or modified features. For example, both the Samsung Galaxy and Apple iPhone can call and text people, but they have different operating systems and programs. The new or modified properties and methods in an instance do not change their prototype's template properties and methods. An iPhone and a Galaxy may have different encryption protocols for texting, but the general idea of texting found in the Smartphones class remains untouched.

To create a new instance of a classs, Ruby uses a *constructor*. A constructor is a method that creates an instance out of a prototype class. Ruby's constructor is the `new()` method. For example:

    new_phone = Smartphone.new("HTC One")

Under Ruby's hood, what differentiates each class instance, apart from properties and methods, is its *object identifier*. Properties for a specific instance are known as *instance variables*. Methods are known as *instance methods*. In Ruby, methods are invoked by sending a message to the method:

    new_phone.kind_of?(Smartphone)
    
With that being said, Ruby has a variety of manipulations that can be achived using objects, as will be covered shortly.

[(back to top)](#toc)

## Ruby program files <a class="anchor" id="rubyprogramfiles"></a>

Ruby code has the file ending "`.rb`":

    myprogram.rb

To run a Ruby program from the command line we use:

    $ ruby myprogram.rb

[(back to top)](#toc)

## Gems <a class="anchor" id="gems"></a>

Most of the functionality in Ruby is provided by *gems*. There is a large collection of gems that provides *cross-platform* implementations of common facilities such as access to the operating system, file I/O, string management, network communication, and much more.

Gems can be downloaded through the RubyGems packaging system. For example:

    gem install iruby
    
To view documentation on the gem, use the `ri` statement:

    ri iruby
    
To use a gem in a Ruby program it first has to be imported. A module can be imported using the `require` statement. `require` lodas extra libraries that you may need. For example:

    require 'aws/s3' # the S3 gem

However, if you are sharing your project or working on different computers, it helps to have all the right gems so that you don't have to constantly reinstall. Use the `bundler` gem to do this:

    gem install bundler
    
Afterwards, in the root of your project, create a file named "Gemfile", which declares whatever gems the project needs.

### Bundler

In the first line, give your "Gemfile" a source repository to download the gems from (example: http://rubygems.org):

In [ ]:
source "http://rubygems.org"

Afterwards, just list your gems:

In [ ]:
gem "rails", "3.0.1"

### References

 * The Ruby Toolbox: https://www.ruby-toolbox.com/
 * Ruby Gems: https://rubygems.org/

[(back to top)](#toc)

## Hello World program <a class="anchor" id="helloworld"></a>

The time honored "Hello World!" program can be implemented in Ruby like so:

In [3]:
puts "Hello, world!"

Hello, world!

where the `puts` statement writes 'Hello, World!' to the console. Notice that if you remove `puts`, you still get the correct output:

In [4]:
"Hello, world!"

"Hello, world!"

The difference is that the console just outputs whatever value you supply it, in this case being 'Hello, world!' `puts` writes a specific value to the console.

[(back to top)](#toc)

## Commenting <a class="anchor" id="comments"></a>

Ruby single line comments use the pound (#) symbol:

In [5]:
# This is a comment

Multiline comments use the `=begin` and `=end` markers:

In [6]:
=begin
      This
      is a
      block
      of
      comments
=end

If something is signified as a comment, Ruby's interpreter will skip over it. Single line commends end on the carriage return to the next line.

[(back to top)](#toc)

## Fundamental data types <a class = "anchor" id = "datatypes"></a>

There are 6 fundamental data types in Ruby:
* booleans
* symbols
* numbers
* strings
* arrays
* hashes

*Booleans* are truth values:

In [97]:
# booleans
true
false

false

*Numbers* are values that arithmetic operations can be performed on:

In [96]:
# numbers
1   # integer
1.0 # float

1.0

Ruby has the following classes for numbers:

<table>
    <tr>
        <th>**class**</th>
        <th>**description**</th>
    </tr>
    <tr>
        <td>integer</td>
        <td>whole valued numbers that are found on the real line</td>
    </tr>
    <tr>
        <td>fixnum</td>
        <td>integer values that can be expressed in a word</td>
    </tr>
    <tr>
        <td>bignum</td>
        <td>integer values that can be expressed in greater than a word</td>
    </tr>
    <tr>
        <td>float</td>
        <td>double precision floating point representation of numbers</td>
    </tr>
    <tr>
        <td>rational</td>
        <td>numbers that can be expressed as ratios, where the denominator is non-zero</td>
    </tr>
</table>

*Strings* represent text data:

In [95]:
# strings
"Hello, World!"

"Hello, World!"

*Symbols* are a special subset of strings in which Ruby recognizes only 1 instance of a particular value. They are represented by the `:` character in front:

In [98]:
# symbols
:example

:example

Unlike other objects, each time you write a specific value of a symbol, the object ID remains the same:

In [103]:
puts 'Symbols have same object IDs for the same instance:'
puts :example.object_id # these 2 object_id's will be the same
puts :example.object_id

puts 'Other data types have difference object IDs for the same instance:'
puts "example".object_id # these 2 object_id's will be different even though the strings have the same value
puts "example".object_id

Symbols have same object IDs for the same instance:
3335068
3335068
Other data types have difference object IDs for the same instance:
17363900
17284140

*Arrays* are a data structure that allow a list of items to be stored under one name:

In [101]:
# arrays
array_example = [1, 2, 3]

[1, 2, 3]

*Hashes* are a data structure in which there is a one-to-one or one-to-many relationship between a *key* and value(s):

In [102]:
# hashes
hash_example = { :John => "Smith", :George => "Washington", :William => "Shakespeare" }

hash_example[:George]

"Washington"

[(back to top)](#toc)

## Variables <a class="anchor" id="variables"></a>

In Ruby, all variables are objects corresponding to the properties and methods of their stored values. They are dynamically typed and the type of the variable can be changed later on in code.

Ruby scopes are:
<table>
    <tr>
        <th>**scope**</th>
        <th>**description**</th>
        <th>**begins with**</th>
        <th>**example**</th>
    </tr>
    <tr>
        <td>global</td>
        <td>can be modified from anywhere in the overhead program</td>
        <td>$</td>
        <td>`$myvar`</td>
    </tr>
    <tr>
        <td>class</td>
        <td>values owned by entire object class (shared with all instances)</td>
        <td>@@</td>
        <td>`@@school`</td>
    </tr>
    <tr>
        <td>instance</td>
        <td>values owned by specific instance of object</td>
        <td>@</td>
        <td>`@age`</td>
    </tr>
    <tr>
        <td>local</td>
        <td>values remain until the end of code construct in which they are declared</td>
        <td>[a - z], [A - Z], _</td>
        <td>`myvar`</td>
    </tr>
    <tr>
        <td>constant</td>
        <td>values accessible to all code constructs in the overhead program, but unlikely to change</td>
        <td>[A - Z]</td>
        <td>`MYCONSTANT`</td>
    </tr>
</table>

A few other variables are `nil`, which is assigned to uninitialized variables, and `self`, which refers to the currently existing object.

### Declaring a variable

Variables are declared and assigned values using the assignment operator (=). For example:

In [7]:
x = 2

2

Variables are also capable of parallel assignment:

In [8]:
a, b, c = 1, 2, 3
puts a
puts b
puts c

1
2
3

### Identifying variable type

Variable type can be identified using the `kind_of?` method found in each object in Ruby. For example:

In [9]:
puts a.kind_of?(Integer)

true

The class of a variable can also be deduced using the `class` method:

In [10]:
puts a.class

Integer

In [11]:
puts "Hello, world!".class

String

### Changing variable type

Variable types can be changed with a mere reassignment:

In [12]:
x = 10
puts x.class

Integer

In [13]:
x = 'Hello, World!'
puts x.class

String

### Converting variable values between types

Variable values can be converted between types and classes using the object methods.

Common ones include:
* `to_s`
* `to_f`

An example is as follows:

In [14]:
x = 10

10

In [15]:
x.to_s

"10"

### Detecting variable scope

Variable scope can be detected using the `defined?` method. If a variable's scope is defined, it will return the scope value, and if not, it will return `nil`.

For example:

In [16]:
defined? x

"local-variable"

In [17]:
defined? NEWCONSTANT

### System global variables

Ruby as the following pre-defined global variables:

<table>
    <tr>
        <th>**variable**</th>
        <th>**value**</th>
    </tr>
    <tr>
        <td>`$@`</td>
        <td>location of last error</td>
    </tr>
    <tr>
        <td>`$_`</td>
        <td>string last read by `gets`</td>
    </tr>
    <tr>
        <td>`$.`</td>
        <td>last line number red by the Ruby interpreter</td>
    </tr>
    <tr>
        <td>`$&`</td>
        <td>last string matched by regular expression</td>
    </tr>
    <tr>
        <td>`$~`</td>
        <td>last regular expression match</td>
    </tr>
    <tr>
        <td>`$n`</td>
        <td>nth subexpression in last regular expression match</td>
    </tr>
    <tr>
        <td>`$=`</td>
        <td>case-sensitivity flag</td>
    </tr>
    <tr>
        <td>`$/`</td>
        <td>input record separator</td>
    </tr>
    <tr>
        <td>`$\`</td>
        <td>output record separator</td>
    </tr>
    <tr>
        <td>`$0`</td>
        <td>name of current Ruby script file being executed</td>
    </tr>
    <tr>
        <td>`$?`</td>
        <td>exit status of last child executed</td>
    </tr>
</table>

### Constants

A constant stores a value for the duration of the program's execution. They start with a capital letter, though the convention is to use all capital letters when naming the variable:

In [18]:
NEWCONSTANT = 'This is a constant.'
puts NEWCONSTANT

This is a constant.

The value of a constant can be changed, but Ruby will issue a warning when it happens:

In [19]:
NEWCONSTANT = 'Changing the value.'

(pry):31: warning: already initialized constant NEWCONSTANT
(pry):29: warning: previous definition of NEWCONSTANT was here

"Changing the value."

[(back to top)](#toc)

## Operators <a class = "anchor" id = "operators"></a>

Operators perform actions on objects to get calculations. Results are assigned to a variable using the `=` operator:

In [105]:
x = 1 + 1

2

Ruby follows PEMDAS order of operations. All Ruby operators are methods.

### Arithmetic operators

<table>
    <tr>
        <th style="text-align:center"><b>operator</b></td>
        <th style="text-align:center"><b>meaning</b></td>
    </tr>
    <tr>
        <td style="text-align:left">+</td>
        <td>addition</td>
    </tr>
    <tr>
        <td style="text-align:left">-</td>
        <td>subtraction</td>
    </tr>
    <tr>
        <td style="text-align:left">&#42;</td>
        <td>multiplication</td>
    </tr>
    <tr>
        <td style="text-align:left">/</td>
        <td>division</td>
    </tr>
    <tr>
        <td style="text-align:left">&#42;&#42;</td>
        <td>exponentiation</td>
    </tr>
    <tr>
        <td style="text-align:left">%</td>
        <td>modulus</td>
    </tr>
</table>

In [106]:
puts 1 + 1, 1 - 1, 1 * 2, 6 / 2, 2 ** 3, 5 % 2

2
0
2
3
8
1

### Assignment operators

<table>
    <tr>
        <th style="text-align:center"><b>operator</b></td>
        <th style="text-align:center"><b>meaning</b></td>
    </tr>
    <tr>
        <td style="text-align:left">x += y</td>
        <td>x = x + y</td>
    </tr>
    <tr>
        <td style="text-align:left">x -= y</td>
        <td>x = x - y</td>
    </tr>
    <tr>
        <td style="text-align:left">x &#42;= y</td>
        <td>x = x &#42; y</td>
    </tr>
    <tr>
        <td style="text-align:left">x /= y</td>
        <td>x = x / y</td>
    </tr>
    <tr>
        <td style="text-align:left">x &#42;&#42;= y</td>
        <td>x = x&#42;&#42; y</td>
    </tr>
    <tr>
        <td style="text-align:left">x %= y</td>
        <td>x %= y</td>
    </tr>
</table>

In [109]:
x = 360
x += 40
puts x # x = 400
x -= 40
puts x # x = 360
x *= 2
puts x # x = 720
x /= 4
puts x # x = 180
x **= 2
puts x # x = 32400
x %= 3
puts x # x = 0

400
360
720
180
32400
0

### Comparison operators

<table>
    <tr>
        <th style="text-align:center"><b>operator</b></td>
        <th style="text-align:center"><b>meaning</b></td>
    </tr>
    <tr>
        <td style="text-align:left">== or .eql?(var1, var2)</td>
        <td>equality</td>
    </tr>
    <tr>
        <td style="text-align:left">!=</td>
        <td>inequality</td>
    </tr>
    <tr>
        <td style="text-align:left"><</td>
        <td>less than</td>
    </tr>
    <tr>
        <td style="text-align:left">></td>
        <td>greater than</td>
    </tr>
    <tr>
        <td style="text-align:left"><=</td>
        <td>less than or equal to</td>
    </tr>
    <tr>
        <td style="text-align:left">>=</td>
        <td>greater than or equal to</td>
    </tr>
    <tr>
        <td style="text-align:left"><=></td>
        <td>returns 0 if equal, 1 if first operand is greater than second, -1 if first operand is less than second</td>
    </tr>
</table>

In [110]:
puts 1 == 1, 1 != 2, 1 < 2, 2 > 1, 3 <= 3, 4 >= 3, 4 <=> 5

true
true
true
true
true
true
-1

### Logical operators

<table>
    <tr>
        <th style="text-align:center"><b>operator</b></td>
        <th style="text-align:center"><b>meaning</b></td>
    </tr>
    <tr>
        <td style="text-align:left">!</td>
        <td>NOT</td>
    </tr>
    <tr>
        <td style="text-align:left">|</td>
        <td>OR</td>
    </tr>
    <tr>
        <td style="text-align:left">&</td>
        <td>AND</td>
    </tr>
    <tr>
        <td style="text-align:left">^</td>
        <td>XOR</td>
    </tr>
</table>

In [124]:
puts !true, true | false, true & false, true ^ true

false
true
false
false

[(back to top)](#toc)

## Strings <a class = "anchor" id = "strings"></a>

Strings are created like so:

In [126]:
myStr = String.new

""

To initialize a string with a value:

In [128]:
myStr = String.new("Hello, world!")

"Hello, world!"

or:

In [131]:
myStr = "Hello, world!"

"Hello, world!"

Strings can be created with single quotes (') or double quotes ("). However, if you want either the single quote or double quote character to be a character in the string itself, you must surround the string with the opposite set of quotes:

In [134]:
puts "There's going to be rain today."
puts '"How do you do this?" he asked.'

There's going to be rain today.
"How do you do this?" he asked.

You can also embed quotes with a slash (\) before the quote character:

In [137]:
puts "\"How do you do this?\" he asked."

"How do you do this?" he asked.

Another way of specifying strings is to delimit the string contents with any character you want, as long as `%` appears before the delimited string:

In [136]:
myStr = %^This is a string!^
puts myStr

This is a string!

To test whether there is content in a string or not, use the `empty?` method:

In [139]:
myStr.empty?

false

To get the length of a string, use the `length` method:

In [140]:
myStr.length

17

### String concatenation

Concatenating strings can be done in a few different ways.

The first method uses the `+` operator:

In [141]:
str1 = 'Hello, '
str2 = 'world!'

myStr = str1 + str2

"Hello, world!"

The second method involves chaining strings together with the `<<` operator:

In [142]:
myStr = 'Hello' << ', ' << 'world' << '!'

"Hello, world!"

The third involves using the `concat` method:

In [143]:
myStr = 'Hello, '.concat('world!')

"Hello, world!"

If you want to concatenate one string with the same content, you can use the `*` method:

In [166]:
myStr = "badger "
myStr = myStr * 3

"badger badger badger "

### Accessing string elements

A string can be thought of as an array of characters, so much of the array element subsetting and indexing still applies. For example:

In [147]:
myStr = 'apple'
puts myStr[0]
puts myStr[0, 3]
puts myStr[0..4]

a
app
apple

To the starting index of a specific string subset, use the `index` method:

In [149]:
myStr.index('pple') # should return index = 1

1

### Comparing strings

A string can be compared using logical equality operators:

In [152]:
puts "Justin" == "Justin"
puts "Justin" != "Justin"

true
false

Using the `casecmp` method, a case sensitive comparison can be performed, returning the same values as `<=>`:

In [153]:
"Justin".casecmp "justin"

0

### Replacing substrings

Substrings can be replaced with this syntax:

    myString["<ubstring to replace>"] = "replacement string"
    
For example:

In [159]:
myStr = "apple"
myStr["app"] = "litt"
puts myStr

little

In addition, you can also replace a specific index with a substring like this:

    myString[<index>] = "replacement string"

In [160]:
myStr = "apple"
myStr[4] = "iance"
puts myStr

appliance

or a range of indices:

In [161]:
myStr = "apple"
myStr[0..2] = "unc"
puts myStr

uncle

Substrings can also be substituted with the `gsub` method:

In [162]:
myStr = "Hello, world!"
myStr.gsub("world", "planet earth")

"Hello, planet earth!"

Entire strings can be replaced with the `replace` method:

In [164]:
myStr = "Hello, world!"
myStr.replace("That escalated quickly!")

"That escalated quickly!"

### Inserting substrings

Similarly to an array, the `insert` method could be used to insert a substring after a specific index:

In [168]:
myStr = 'Heo, world!'
myStr.insert(2, 'll')

"Hello, world!"

### Reversing strings

The `reverse` method can be used to reverse a string:

In [169]:
myStr.reverse

"!dlrow ,olleH"

### Removing trailing characters

The `chop` method returns a new string with the trailing character of the original string removed:

In [170]:
myStr2 = myStr.chop
puts myStr2
puts myStr

Hello, world
Hello, world!

### Changing case

To make a string proper case, use the `capitalize` method:

In [188]:
'hi'.capitalize

Hi
hi

This returns a proper case version of the string, but does not replace the original string. To replace the original string, use `capitalize!`.

To make everything lowercase, use `downcase`:

In [192]:
"RUBY".downcase

"ruby"

To make everything uppercase, use `upcase`:

In [191]:
"ruby".upcase

"RUBY"

To change cases, use `swapcase`:

In [193]:
"RuBy".swapcase

"rUbY"

### Converting a string to an array

To explicitly convert a string to an array, use the `split(<delimiter>)` method. If there is no delimiter, use `//` to represent the point between characters:

In [184]:
myStr = 'abcde'
myStr.split(//)

["a", "b", "c", "d", "e"]

Use `/ /` for sentences:

In [185]:
"Today is a good day".split(/ /)

["Today", "is", "a", "good", "day"]

### Converting a string to a number

To convert a string to an integer, use the `to_i` method:

In [194]:
"10".to_i

10

To convert a string to a float, use the `to_f` method:

In [196]:
"10".to_f

10.0

### Converting a string to a symbol

To convert a string to a symbol, use the `to_sym` method:

In [197]:
"myStr".to_sym

:myStr

### Ruby Here documents

Ruby Here documents allow you to create free format strings on an arbitrary number of lines. It is delimited by `<<DOC` at the beginning and `DOC` at the end:

In [138]:
myText = <<DOC

Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

It is rather for us to be here dedicated to the great task remaining before us  that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion  that we here highly resolve that these dead shall not have died in vain  that this nation, under God, shall have a new birth of freedom  and that government of the people, by the people, for the people, shall not perish from the earth.

DOC

puts myText

Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal.

It is rather for us to be here dedicated to the great task remaining before us  that from these honored dead we take increased devotion to that cause for which they gave the last full measure of devotion  that we here highly resolve that these dead shall not have died in vain  that this nation, under God, shall have a new birth of freedom  and that government of the people, by the people, for the people, shall not perish from the earth.

[(back to top)](#toc)

## Arrays <a class = "anchor" id = "arrays"></a>

An array is a construct that contains a list of items in a particular order. The items can be of any type, mixed types, or can even be an array of objects. In Ruby, arrays are objects themselves.

### Creating an array

Arrays can be initialized as empty using the `Array.new` method:

In [26]:
myarray = Array.new

[]

Or, we can initialize it as an array of `nil` elements with a specified size:

In [27]:
myarray = Array.new(10)

[nil, nil, nil, nil, nil, nil, nil, nil, nil, nil]

We can also directly populate the elements with different values upon initialization:

In [30]:
onetoten = Array[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Or:

In [31]:
onetofive = [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

Or, if the array should be filled with the same values:

In [29]:
apple_array = Array.new(5, "apple")

["apple", "apple", "apple", "apple", "apple"]

### Array methods

We can use the `empty?` property to find out if an array is empty or not:

In [33]:
onetofive.empty?

false

Or the `size` property to get the dimensions of the array:

In [35]:
onetofive.size

5

We can find out different the class of different elements in the array:

In [36]:
onetofive[2].class

Integer

### Accessing array elements

Array indexing starts at 0. Elements can be accessed using `[<index>]`:

In [37]:
puts onetofive[2]

3

Or using the `at()` method:

In [40]:
puts onetofive.at(2)

3

In Ruby, array indexes are circular, meaning that an index of `-1` starts at the element in the array with the highest index, an index of `-2` starts at the ement in the array with the second highest index, and so on:

In [41]:
puts onetofive[-1]

5

Addtional methods are `first` and `last`, which returns the elements at index `0` and the highest index, respectively:

In [42]:
puts 'index = 0:'
puts onetofive.first
puts 'index = 4:' # since the indices range from 0 to 4, 4 is the 5th index
puts onetofive.last

index = 0:
1
index = 4:
5

### Finding element index

The `index(<element>)` can be used to find the first matching element in the array, while the `rindex(<element>)` can be used to find the last:

In [45]:
puts 'First index:'
puts apple_array.index('apple')
puts 'Last index:'
puts apple_array.rindex('apple')

First index:
0
Last index:
4

### Subsetting arrays

Arrays are subset by placing the start point for subsetting and the number of elements to extract into brackets, like so:

    myarray[<start point>, <number of elements to subset>]

For example:

In [46]:
onetotwo = onetofive[0, 2]
puts onetotwo

[1, 2]

They can also be subsetted using ranges (which will be covered next):

In [47]:
onetothree = onetofive[0..2]
puts onetothree

[1, 2, 3]

Notice that the range method subsets 3 values with indices having 0, 1, and 2. The previous method only subset 2 values because specified that we just wanted 2 values from the starting point.

### Ranges

Ranges are used to create successive values and are created using the:
* inclusive two-dot operator (`..`)
* exclusive two-dot operator (`...`)

Once a range is created, it can be converted to an array using the `to_a` method:

    (<start>..<end>).to_a

For example:

In [54]:
puts 'Inclusive:'
puts (1..4).to_a
puts 'Exclusive:'
puts (1...4).to_a

Inclusive:
[1, 2, 3, 4]
Exclusive:
[1, 2, 3]

Ranges can also be created based on strings:

In [56]:
puts ('aa'..'ad').to_a

["aa", "ab", "ac", "ad"]

A number of methods can be used on ranges without having to convert them into arrays.

`min` will return the minimum value found in an array and `max` the maximum value:

In [57]:
puts (1..4).min
puts (1..4).max

1
4

`include?(<value>)` will test whether the value is within that range:

In [58]:
puts (1..4).include?(3)
puts (1..4).include?(5)

true
false

`reject {|<variable name>| <variable name> < <value>}` will output only the elements in a range that are below a certain value:

In [60]:
puts (1..4).reject {|num| num < 3}

[3, 4]

Replace `<` with `>` to get elements above a certain value:

In [62]:
puts (1..4).reject {|num| num > 2}

[1, 2]

Ranges can also be used as conditional expressions:

In [66]:
def mymethod(x)
  if x < 5 .. x > 1
    puts 'Success!'
  else
    puts 'Fail!'
  end
end

mymethod(4)
mymethod(6)

Success!
Fail!

Or used to tell whether a certain value falls within a set interval with the `===` operator:

In [67]:
(1..5) === 3

true

### Concatenating arrays

Arrays can be concatenated using the `+` operator:

In [85]:
onetothree = [1, 2, 3]
fourtofive = [4, 5]

onetofive = onetothree + fourtofive

[1, 2, 3, 4, 5]

or the `concat` method, though the `concat` method permanently concatenates the arrays together:

In [86]:
onetothree.concat(fourtofive)

[1, 2, 3, 4, 5]

or appended to an existing array using the `<<` operator, though the `<<` operator permanently appends elements to the array:

In [87]:
fourtofive << 6

[4, 5, 6]

### Element insertion/deletion

Inserting an element into an existing array requires the `insert(<index>, <value>)` method:

In [88]:
fourtofive.insert(0, 3)

[3, 4, 5, 6]

Deleting an element from an existing array requires the `delete(<value>)` method:

In [93]:
fourtofive.delete(3)
puts fourtofive

[4, 5, 6]

### Array sorting

Arrays can be sorted using the `sort!` method (the exclamation mark is actually there):

In [94]:
unsorted_array = [5, 2, 4, 1, 3]
unsorted_array.sort!

[1, 2, 3, 4, 5]

[(back to top)](#toc)

## Hashes <a class="anchor" id="hashes"></a>

Hashes are similar to arrays, except that the indices are any objects, not just integers. Indices are known as *keys*. Each key is associated with a value, or an array of values. There can be multiple keys associated with the same value, but there cannot be multiple copies of the same key. Hashes are declared like this:

    <variable name> = { <key1> => <value1>, <key2> => <value2>, ... )
    
Let's try it:

In [2]:
myHash = {'Jared' => 'Smith', 'Roger' => 'Cooper', 'Darren' => 'Sullivan'}

{"Jared"=>"Smith", "Roger"=>"Cooper", "Darren"=>"Sullivan"}

We can type a key in `[]` to retrieve its value:

In [4]:
myHash['Jared']

"Smith"

or use the `fetch` method in the same way:

In [3]:
myHash.fetch("Jared")

"Smith"

If a hash does not contain a key, it returns `nil`:

In [7]:
puts myHash['Brendan']

To change the default `nil` value, instantiate a hash and place the default value that you want into the parenthesis `new(<value>)`:

In [10]:
myHash = Hash.new('none')

myHash['Brendan']

"none"

The `keys` method will return the unique keys stored in this hash:

In [4]:
myHash.keys

["Jared", "Roger", "Darren"]

We can also change the value associated with a particular key:

In [5]:
myHash['Jared'] = 'Daniels'
myHash.fetch('Jared')

"Daniels"